# It's easy to add more libraries or choose different versions. Any libraries
# specified here will be installed and made available to your morph.io scraper.
# Find out more: https://morph.io/documentation/python

# Custom version of scraperwiki library
# -e git+http://github.com/openaustralia/scraperwiki-python.git@morph_defaults#egg
#
lxml==3.4.4
cssselect==0.9.1
requests-html==0.10.0
-i https://pypi.org/simple
alembic==1.0.2
certifi==2018.10.15
chardet==3.0.4
idna==2.7
mako==1.0.7
markupsafe==1.0
python-dateutil==2.7.5
python-editor==1.0.3
requests==2.20.0
scraperwiki==0.5.1
six==1.11.0
sqlalchemy==1.2.13
urllib3==1.24.1
beautifulsoup
